body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Shadows Into Light Two', cursive !important;
  }

  main {
    flex: 1 0 auto;
  }
  .page-footer
  {
    margin-top: 100px;
  }
   /* label color */
   .index{
    margin-top:70px;
   }
   .input-field {
     color: white;
   }
   .input-field label {
    color: white !important;
  }
  /* label focus color */

  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #7e57c2 !important;
    box-shadow: 0 1px 0 0 #7e57c2 !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #7e57c2 ;
    box-shadow: 0 1px 0 0 #7e57c2 ;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
  [type="checkbox"]:checked+span:not(.lever):before{
    border-right: 2px solid #7e57c2;
    border-bottom: 2px solid #7e57c2;
  }

 
  input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
      {
        border-bottom: 1px solid #7e57c2;

      }
      input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
      {
        box-shadow: none !important;
        -webkit-box-shadow:none;
      }
      .index input, 
      .input-field input[type=text]:focus + label ,
      .dropdown-content li > a, .dropdown-content li > span ,
      textarea, 
      .select-wrapper input.select-dropdown,
      .card-title
      {
        color:#7e57c2 !important;
      }

      .card .card-action a ,.card p 
      {
        color: #424242 !important; 
      }
      .card {
        margin-top: 100px;
      }
      .card .card-content a
      {
        color:white;
        margin-top: 20px;
        padding :10px ;
        padding-top: 2px;
        font-size: 12px;
      }